body {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    line-height: 150%;
    background-color: beige;
    margin: 0 auto;
    padding: 0;
    background-image: url("hypnotize.png");
}

header {
    background-color: blanchedalmond;
    padding-top: 25px;
    padding-bottom: 32px;
    padding-left: 5px;
}

h1 {
    background-color: #428bca;
    width: 15%;
    color:white;
    margin-left: 242px;
    margin-top: -25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
}

a {
    color: #428bca;
}

.container{
    margin:0 auto;
}

.main {
    width:960px;
    margin: 0 auto;
    background-color: blanchedalmond;
}

.main2 {
    width:630px;
    margin: 0 auto;
    background-color: blanchedalmond;
    float: left;
    margin-left: 245px;
    margin-bottom: 80px;
}

.pages {
    width: 25%;
    margin-left: 510px;
    margin-top: -30px;    
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
}

#gmail {
    float: left;
    margin-left: 35px;
    margin-top: 25px;
}

#fb {
    float: left;
    margin-left: 10px;
    margin-top: 25px;
}

#github {
    float: left;
    margin-left: 10px;
    margin-top: 25px;
}

#linkedin {
    float: left;
    margin-left: 10px;
    margin-top: 25px;
}

h2{
    clear: both;
    color: #428bca;
    float: left;
    padding-left: 25px;
    margin-top: 30px;
}

.social_media {
    width:300px;
    background-color: blanchedalmond;
    float: left;
    margin-left: 30px;
    padding-bottom: 40px;
}

h3 {
    color: #428bca;
    float: left;
    padding-left: 25px;
    margin-top: 30px;
}

form{
    clear: both;
    padding-left: 25px;
    margin-bottom: 40px;
    padding-top: 0px;
}

hr {
    clear: both;
    width: 900px;
    height: 3px;
    background-color: #428bca;
    margin: auto;
    padding-left: 20px;
}

#hr1 {
    clear: both;
    width: 560px;
    height: 3px;
    background-color: #428bca;
    margin: auto;
    padding-left: 20px;
}

#hr2 {
    width: 230px;
    height: 3px;
    background-color: #428bca;
    margin: auto;
    padding-left: 20px;
}

#myself {
    padding-left: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    float: left; 
}

#self_intro {
    padding-bottom: 30px;
    margin-right: 25px;
    margin-left: 300px;
    margin-bottom: 80px;
}

#about {
    float: left;
}

#portfolio {
    float: left;
    margin-left: 20px;
}

#contact {
    float: left;
    margin-left: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
}

#img_set {
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 80px;
    padding-bottom: 500px;

}

#education {
    position: relative;
    padding-right: 30px;
    float: left;
}
    
#career {
    float: left;
    padding-right: 30px;
}
    
#music {
    clear: both;
    float: left;
    padding-right: 30px;
    padding-top: 30px;
}
    
#movie {
    float: left;
    padding-right: 30px;
    padding-top: 30px;
}
    
#sports {
    clear: both;
    float: left;
    margin-bottom: 50px;
    padding-top: 30px;
}

#label_1 {
    background-color: #428bca;
    color: aliceblue;
    position: absolute;
    top: 320px;
    left: 264px;
    padding: 5px 76px 5px 76px;
}

#label_2 {
    background-color: #428bca;
    color: aliceblue;
    position: absolute;
    top: 320px;
    left: 534px;
    padding: 5px 92px 5px 92px;
}

#label_3 {
    background-color: #428bca;
    color: aliceblue;
    position: absolute;
    top: 485px;
    left: 264px;
    padding: 5px 93px 6px 94px;
}

#label_4 {
    background-color: #428bca;
    color: aliceblue;
    position: absolute;
    top: 485px;
    left: 534px;
    padding: 5px 94px 5px 93px;
}

#label_5 {
    background-color: #428bca;
    color: aliceblue;
    position: absolute;
    top: 650px;
    left: 264px;
    padding: 5px 92px 6px 92px;
}
